@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#cf808b;
    color: white;
    display:flex;
    top: 0;
    position: sticky;
}
header h1{
    padding: 10px;
}
menu{
    padding: 10px;
    margin: 10px;
    right: auto;
}
menu a{
    text-decoration: none;
     padding: 5px;
    color: white;
}
menu a:hover{
    background-color: rgba(0, 0, 0, 0.548);
    
}


main h2{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;

}
#foto1{
    width: 98.75vw;
    height: 89.7vh;
    background-image: url(../img/pexels-pixabay-147411.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
#bloco{
    background-color: 5A5E61;
    display: flex;
    padding: 10px;

   margin: ;
 
}
#bloco1{
    background-color: ;
    padding: 100px;
    border-radius: 10px;
    width: 80px;
    color: black;
    background: url(../img/img1.png);
    background-size: cover;
    padding: 50px;

}
#bloco2{
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    width: 80px;
    
}
#bloco3{
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    width: 80px;
    
}
#bloco4{
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    width: 80px;
    
}
footer{
    text-align: center;
    padding: 7px;
}